# Ignore MacOS files
.DS_Store

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# Environment variables
.env

# Build output
/dist

# Ignore Cursor files
.cursor
.cursorignore
.cursorindexingignore
tasks
